*{
    color: rgb(255, 255, 255);
}

.contenu {
    background-color: yellow;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10%;
}

.contenu p {
    justify-content: center;
}

/* La carte  */
.card {
    position : relative;
    height: 450px;
	max-width: 900px;
	margin : 200px auto;
	background-color : #FFF;
	-webkit-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
	border-radius: 5px;
}
	
.fakeimg img {
	width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
	
}  

  /* Effet de carte */
  .card {
	background-color: rgba(252, 7, 231, 0.602);
	padding: 40px;
	margin-top: 100px;
	height: fit-content;
	border: 2px solid white;
  }
 .description {
	 margin-top: 150px;
	 margin-bottom:150px;
 }
button{
	color: white;
    cursor: pointer;
    float: right;
    border-radius: 20px;
    padding: 10px;
    margin: 15px;
    width: fit-content;
    background-color: rgb(145, 145, 214);
    border: 2px solid white;
    
}
button:hover {
    background-color: blueviolet;
    font-size: larger;
    border-color: blue;
}
 a {
     font-size: 20px;
     text-decoration: none;
 } 
 
  



 