/* ******************************Dedut Structuration du document */

.column {
    float: left;
    padding: 10px;
  }
  
  /* column droite */
  .column.side {
    width: 25%;
    display: inline;
    float: right;
  }
  
  /*  column centre */
  .column.middle {
    width: 75%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
    .column.side {
      position: inherit;
    }
  }
  
 /* ******************************Fin Structuration du document */


 main {
  padding: 110px 35px ;
}

#navblog{
    display: block;
    text-align: center;
}

.ulblog {
	display: flex;
	flex-direction: row;
	text-align: center;
  list-style-type: none;
  margin-bottom: 45px;
  padding: 0;
	font-size: 18px;
	font-weight: 900;
	width: fit-content;
	
}
.ulblog li a{
    border-bottom: 1px solid rgba(255, 255, 255, 0.733);
    padding: 5px 7px;
    color: aliceblue;
    position: relative;
    text-decoration: none;
    margin: 4px;
    display: block;
}
.ulblog li :hover{
    background-color: rgba(120, 16, 129, 0.616);
	font-size: larger;
}

/***************************************************************/

/*ici on va faire la mise en forme de la sous section creation*/

.creation {
  display: flex;
  flex-direction: column;
  color: #fff;
  background: rgba(240, 9, 182, 0.561);
  border-radius: 5px;
  padding-left: 10px;
  font-size: larger;
  margin-bottom: 50px;
  margin: 25px;
  }
section {
   margin-bottom: 150px;
}

/*************************************************************** Debut barre de recherche*/
#recherche {
	  align-items: center;
    color: #ffffff;
    margin: 10px auto;
    padding: 5px;
    width: 100%;
    font-size: 1.2em;
    display: block;
    border-radius: 5px;
    background-color: rgba(248, 3, 228, 0.383);
    border: 2px solid rgb(255, 6, 234);
}
#recherche input {
	width: 82%;
  border-radius: 5px;
	padding: 5px;
  margin-bottom: 3px;
  border-color: rgba(5, 5, 48, 0.681);
  
}

#recherche button {
    color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    background-color: rgb(145, 145, 214);
    border: 2px solid white;
}
#recherche button:hover {
    background-color: rgb(200, 18, 161);
}
/*************************************************************** Fin barre de recherche/





/***************************************************************************Debut de la mise en forme de la carte de contenu*/

.blog-card {
	display: flex;
	flex-direction: column;
	box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
	margin-bottom: 1.6%;
	background: white;
	line-height: 1.4;
	font-family: sans-serif;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
  margin: 25px;

}

.photo:hover{
			transform: scale(1.3) rotate(3deg);
		}
    .meta {
      position: relative;
      z-index: 0;
      height: 200px;
  }
.photo {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: cover;
		background-position: center;
		transition: transform 0.2s;
	}		
.description {
		padding: 1rem;
		background: rgb(255, 255, 255);
		position: relative;
		z-index: 1;
    
}

.description	h1, h2 {
    font-family: Poppins, sans-serif;
}
.description h1 {
			line-height: 1;
			margin: 0;
			font-size: 1.7rem;
		}

.description h2 {
			font-size: 1rem;
			font-weight: 300;
			text-transform: uppercase;
			color: rgb(51, 40, 40);
			margin-top: 5px;
		}
.read-more {
			text-align: right;
		}
.read-more a {
				color: rgb(255, 0, 247);
				display: inline-block;
				position: relative;
				text-decoration: none;
			}
.read-more a:hover {
				font-size: larger;
				color: rgb(218, 5, 255);
}
.description .read-more a:hover:after {
					margin-left: 5px;
					opacity: 1;
				}
.description p {
		position: relative;
		margin: 1rem 0 0;
}

.description p:before {
				content: "";
				position: absolute;
				height: 5px;
				background: rgba(57, 53, 54, 0.876);
				width: 35px;
				top: -0.75rem;
				border-radius: 3px;
			}

.description p:first-of-type {
			margin-top: 1.25rem;
		}

  
/*responsivité quand la taille de l'ecran devient inferieur a 640px*/
@media (min-width: 640px) {
{ max-width: 700px;

  .meta {
	flex-basis: 40%;
	height: auto;
  }
  .description {
	flex-basis: 60%;
  }
  .description:before {
	transform: skewX(-3deg);
	content: "";
	background: #fff;
	width: 30px;
	position: absolute;
	left: -10px;
	top: 0;
	bottom: 0;
	z-index: -1;
  }	
  .description.alt {
	flex-direction: row-reverse;
  }
  .details {
	padding-left: 25px;
  }
  .details {
	padding-left: 25px;
  }
   .description:before {
	left: inherit;
	right: -10px;
	transform: skew(3deg);
  }

} }
/*********************************************************************************** Fin de la carte de contenu*/


/* *********************************************************************************Debut Mise en form du aside bar */


/* effet de carte dans l'article */
.card {
  background-color: rgb(255, 255, 255);
  word-wrap: break-word;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 14px;
 
}
#livre {
  width: fit-content;
  height: 170px;
 
}
.fakeimg {
  text-align: center;
}
.rightcolumn a {
  text-decoration: none;
  color: rgb(30, 0, 255);
}

/* *********************************************************************************Fin Mise en form du aside bar */
