/*************** Toute autre information est herité du parent "index.css"*/

/****************************************************************************Debut mise en forme du formulaire de contact*/
  
form {
  padding: 70px;
  border: 4px solid white;
}


.formulaire {
  text-align: center;
  margin: 0%;
  margin-bottom: 7px;
}
input[type=text],input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(255, 1, 234);
  border-radius: 4px;
  resize: none;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: large;
  
}

input[type=submit] {
  color: white;
  cursor: pointer;
  border-radius: 4px;
  float: right;
  width: 130px;
  background-color: rgba(3, 255, 242, 0.368);
  font-size: 20px;
  border: 2px solid rgb(246, 246, 246);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

input[type=submit]:hover {
 
font-size: 22px;
font-weight: 900;
}


.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  
  
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/*Responsivité de l'ecran quand la taille est inferieur a 600px*/
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/****************************************************************************Fin mise en forme du formulaire de contact*/

